<ul class="navbar">

 
    <li class="navbar-item">
      <a class="navbar-link" routerLink="home">Főoldal</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" routerLink="/">Rólunk</a>
    </li>
    <li class="navbar-item">
      <a routerLink="register" routerLinkActive="active"
      >Regisztráció</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" routerLink="/login" >Bejelentkezés</a>
    </li>
  

 

</ul>
<div class="container">
  <router-outlet></router-outlet>
</div>


<footer class="footer">
  <p>&copy; 2025 Minden jog fenntartva.</p>
</footer>
